//<МИКСИНЫ>===============================================================================================
@import "mixins";

//<Подключаем шрифты>=======================================================================================
@import "fonts";

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Open Sans", sans-serif;
$fontFamilyAdd: "Oswald", sans-serif;
$fontFamilyLogo: "Titillium Web", sans-serif;

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1110;
$md1: 1130;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//</ПЕРЕМЕННЫЕ>===========================================================================================================
$blue: #005bc1;

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #343434;
	font-size: 20px;
	line-height: 150%;
	background-color: #fff;
	font-family: $fontFamily;
	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 10px;
	@media (max-width: $md1+px) {
		max-width: 1110px;
	}
	@media (max-width: $md2+px) {
		max-width: none;
	}
	@media (max-width: $md3+px) {
		max-width: none;
	}
}
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "datepicker";
@import "lightgallery";
@import "tippy";
@import "nouislider";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	display: flex;
	// .page__body
	&__body {
		flex: 1 1 auto;
		min-width: 0;
	}
}

//===================================================================================================================================
.title {
	position: relative;
	display: block;
	font-family: $fontFamilyAdd;
	font-size: 30px;
	font-weight: 400;
	line-height: 100%;
	color: #343434;
	text-transform: uppercase;
	padding: 0 0 0 140px;
	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 100px;
		height: 2px;
		background-color: $blue;
	}
	&::before {
		left: 0;
		top: 2px;
	}
	&::after {
		left: 50px;
		top: 15px;
		width: 50px;
	}
	@media (max-width: $md2+px) {
		font-size: 26px;
		padding: 0 0 0 95px;
		&::before {
			width: 70px;
		}
		&::after {
			width: 35px;
			left: 35px;
		}
	}
	@media (max-width: $md4+px) {
		font-size: 22px;
		padding: 0 0 0 65px;
		&::before {
			width: 50px;
		}
		&::after {
			width: 25px;
			left: 25px;
			top: 10px;
		}
	}
}

//===================================================================================================================================
.main-screen {
	height: 100vh;
	background: url("../img/main.jpg") top / cover no-repeat;
	// .main-screen__body
	&__body {
		position: relative;
		height: 100vh;
		padding: 35vh 90px 10px 90px;
		overflow: hidden;
		color: #fff;
	}
	&__body::before {
		content: "";
		position: absolute;
		top: 76px;
		left: 0;
		height: 100vh;
		width: 35%;
		background: $blue;
		opacity: 0.6;
	}
	// .main-screen__title
	&__title {
		position: relative;
		font-family: $fontFamilyAdd;
		font-size: 48px;
		color: #fff;
		line-height: 110%;
		margin: 0 0 40px;
		z-index: 1;
	}
	// .main-screen__subtitle
	&__subtitle {
		max-width: 445px;
		font-size: 16px;
		line-height: 120%;
		margin: 0 0 30px;
		position: relative;
		z-index: 1;
	}
	// .main-screen__link
	&__link {
		position: relative;
		z-index: 1;
		a {
			display: inline-block;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 2px;
			padding: 15px 40px;
			border: 2px solid #ffffff;
			color: #fff;
		}
	}
	@media (max-width: $md2+px) {
		&__body {
			padding: 35vh 20px 10px 30px;
		}
	}
	@media (max-width: $md3+px) {
		&__title {
			font-size: 42px;
		}
		&__body::before {
			top: 76px;
			left: 0;
			height: 100vh;
			width: 50%;
		}
	}
	@media (max-width: $md4+px) {
		&__title {
			font-size: 36px;
			line-height: 130%;
		}
		&__link {
			a {
				font-size: 14px;
				letter-spacing: 2px;
				padding: 12px 20px;
			}
		}
	}
}
._scr-item {
	transform: translate(0px, 100px);
	transition: all 0.3s ease 0s;
	opacity: 0;
	&._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

//===================================================================================================================================
.projects {
	padding: 150px 0 0;
	// .projects__title
	&__title {
		margin: 0 0 80px;
	}
	// .projects__body
	&__body {
		position: relative;
	}
	@media (max-width: $md2+px) {
		padding: 100px 0 0;
		&__title {
			margin: 0 0 60px;
		}
	}
	@media (max-width: $md3+px) {
		padding: 50px 0 0;
		&__title {
			margin: 0 0 40px;
		}
	}
}
.slider {
	position: relative;
	// .slider__slide
	&__slide {
	}
}
.projects .slide {
	position: relative;
	&__image {
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	// .slide__title
	&__title {
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		font-family: $fontFamilyAdd;
	}
	// .slide__text
	&__text {
		position: absolute;
		bottom: 35px;
		right: 35px;
		padding: 25px;
		background-color: #ffffff;
		color: #343434;
		p {
			font-size: 14px;
			font-weight: 300;
		}
	}
	@media (max-width: $md2+px) {
		&__text {
			bottom: 25px;
			right: 25px;
			padding: 20px;
		}
	}
	@media (max-width: $md4+px) {
		&__text {
			bottom: 10px;
			right: 10px;
			padding: 10px;
		}
	}
}
.swiper-button-prev,
.swiper-button-next {
	width: 55px;
	height: 55px;
	border: 2px solid $blue;
	position: absolute;
	top: -120px;
	right: 0;
	span {
		width: 14px;
		height: 2px;
		background-color: $blue;
		position: absolute;
		left: 20px;
		&:first-of-type {
			transform: rotate(-45deg);
			top: 20px;
		}
		&:last-of-type {
			transform: rotate(45deg);
			bottom: 20px;
		}
	}
	@media (max-width: $md2+px) {
		width: 45px;
		height: 45px;
		top: -75px;
		span {
			left: 14px;
			&:first-of-type {
				top: 15px;
			}
			&:last-of-type {
				bottom: 15px;
			}
		}
	}
}
.swiper-button-prev {
	right: 0;
	span {
		&:first-of-type {
			transform: rotate(45deg);
			top: 20px;
		}
		&:last-of-type {
			transform: rotate(-45deg);
			bottom: 20px;
		}
	}
}
.swiper-button-next {
	right: 53px;
	@media (max-width: $md2+px) {
		right: 43px;
	}
}

//===================================================================================================================================
.tabs-block {
	padding: 150px 0 0;
	&__title {
		margin: 0 0 80px;
	}
	// .tabs-block__nav
	&__nav {
		display: flex;
		justify-content: center;
		margin: 0px 0 60px;
	}
	// .tabs-block__item
	&__link {
		font-family: $fontFamilyAdd;
		font-size: 24px;
		line-height: 100%;
		text-transform: uppercase;
		margin: 0px 45px 0 0;
		cursor: pointer;
		&:last-of-type {
			margin: 0;
		}
		&._active {
			color: $blue;
			position: relative;
			&::after {
				position: absolute;
				content: "";
				bottom: -10px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $blue;
			}
		}
	}
	// .tabs-block__block
	&__block ul {
		display: flex;
	}
	&__item {
		position: relative;
		flex: 1 1 31.533%;
		height: 300px;
		margin: 0 30px 0 0;
		border: 3px solid $blue;

		&:last-of-type {
			margin: 0;
		}
		&_1 {
			background: url("../img/katalogItem1.webp") top / cover no-repeat;
		}
		&_2 {
			background: url("../img/katalogItem2.webp") top / cover no-repeat;
		}
		&_3 {
			background: url("../img/katalogItem3.webp") top / cover no-repeat;
		}
	}
	&__text {
		position: absolute;
		bottom: 12px;
		right: 0;
		width: 75.6%;
		min-height: 86px;
		padding: 20px;
		font-family: $fontFamilyAdd;
		font-size: 18px;
		font-weight: 400;
		background: $blue;
		color: #fff;
	}
	@media (max-width: $md2+px) {
		&__title {
			margin: 0 0 60px;
		}
		&__nav {
			margin: 0px 0 40px;
		}
		&__link {
			font-size: 20px;
		}
		&__block ul {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__item {
			flex: 0 1 48%;
			margin: 0 30px 30px 0;
		}
	}
	@media (max-width: $md3+px) {
		&__title {
			margin: 0 0 40px;
		}
		&__nav {
			margin: 0px 0 20px;
		}
		&__item {
			flex: 0 1 45%;
			margin: 0 20px 20px 0;
			height: 250px;
		}
		&__text {
			width: 90%;
		}
	}
	@media (max-width: $md4+px) {
		&__link {
			font-size: 18px;
		}
		&__item {
			flex: 1 1 100%;
			margin: 0 0 20px 0;
			height: 300px;
		}
		&__text {
			padding: 10px;
		}
	}
	@media (max-width: $md2+px) {
		padding: 100px 0 0;
	}
	@media (max-width: $md3+px) {
		padding: 50px 0 0;
	}
}

//========================================================================================================================================================
.rent {
	padding: 150px 0 0;
	// .rent__title
	&__title {
		margin: 0 0 45px;
	}
	// .rent__body
	&__body {
		position: relative;
		display: flex;
	}
	// .rent__text
	&__text {
		width: 40%;
		font-size: 18px;
		font-weight: 300;
		padding: 10% 10% 0 0;
	}
	// .rent__slider
	&__slider {
		width: 60%;
		border: 2px solid $blue;
		padding: 43px 25px 25px;
	}
	// .rent__subtitle
	&__subtitle {
		font-family: $fontFamilyAdd;
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 0 0 45px;
	}

	.slide {
		display: flex;
		// .slide__image
		&__image {
			flex: 0 1 40%;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		// .slide__text
		&__text {
			position: relative;
			padding: 25px;
		}
		// .slide__title
		&__title {
			font-family: $fontFamilyAdd;
			font-size: 16px;
			font-weight: 400;
			text-transform: uppercase;
		}
		// .slide__list
		&__list {
			font-size: 14px;
			font-weight: 300;
			li {
				list-style: disc;
			}
		}
		@media (max-width: $md3+px) {
			&__image {
				flex: 0 1 50%;
			}
		}
		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		top: 25px;
		right: 25px;
	}
	.swiper-button-next {
		right: 78px;
	}
	@media (max-width: $md2+px) {
		padding: 100px 0 0;
		.swiper-button-next {
			right: 68px;
		}
		&__text {
			padding: 7% 5% 0 0;
		}
		.swiper-button-prev,
		.swiper-button-next {
			top: 110px;
		}
	}
	@media (max-width: $md3+px) {
		padding: 50px 0 0;
		&__body {
			flex-direction: column-reverse;
		}
		&__text {
			width: 100%;
			padding: 10% 10% 0 0;
		}
		// .rent__slider
		&__slider {
			width: 100%;
			padding: 43px 25px 25px;
		}
	}
}

//========================================================================================================================================================
.news {
	position: relative;
	padding: 110px 0 120px;
	// .news__title
	&__title {
		margin: 0 0 45px;
	}
	// .news__link
	&__link {
		position: absolute;
		top: 100px;
		right: 10px;
		display: block;
		background-color: $blue;
		color: #fff;
		padding: 10px 37px;
	}
	// .news__body
	&__body {
		display: flex;
	}
	// .news__column
	&__column {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	// .news__item
	&__item {
		width: 50%;
		max-width: 277px;
		padding: 0 26px 0;
		display: flex;
		flex-direction: column;
		&:last-of-type {
			padding: 0 0 0 26px;
		}
	}
	// .news__image
	&__image {
		flex: 0 1 115px;
		overflow: hidden;
		display: flex;
		align-items: flex-end;
		picture {
			height: 100%;
			flex: 0 0 128px;
		}
		img {
			width: auto;
			height: 100%;
		}
	}
	// .news__text
	&__item &__text {
		flex: 1 0 auto;
	}
	// .news__subtitle
	&__subtitle {
		font-family: $fontFamilyAdd;
		font-size: 18px;
		font-weight: 400;
		margin: 0 0 20px;
		min-height: 80px;
	}
	// .news__date
	&__date {
		font-size: 14px;
		font-weight: 600;
		margin: 0 0 0 15px;
		color: #979797;
	}
	// .news__news
	&__news {
		font-size: 14px;
		font-weight: 300;
		line-height: 120%;
		margin: 0 0 20px;
	}
	// .news__main
	&__main {
		flex: 1 0 51.4%;
		display: flex;
	}
	@media (max-width: $md1+px) {
		&__body {
			flex-direction: column;
		}
		&__main {
			margin: 0 0 20px;
		}
	}
	@media (max-width: $md2+px) {
		padding: 100px 0;
	}
	@media (max-width: $md3+px) {
		padding: 50px 0;
		&__link {
			top: 37px;
		}
		&__image {
			flex: 1 1 auto;
			flex-direction: column;
			align-items: flex-start;
			img {
				max-height: 115px;
			}
		}
	}
	@media (max-width: $md4+px) {
		&__main {
			display: flex;
			flex-direction: column;
		}
		&__link {
			top: 38px;
			padding: 7px 12px;
		}
		&__item {
			width: 50%;
			max-width: 277px;
			padding: 0 10px 0;
			display: flex;
			flex-direction: column;
			&:last-of-type {
				padding: 0 0 0 10px;
			}
		}
		&__subtitle {
			font-size: 16px;
			min-height: 60px;
		}
	}
}
.main-news {
	&__image {
		flex: 0 0 255px;
		overflow: hidden;
		picture {
			max-width: 100%;
			height: 100%;
			img {
				width: 100%;
				min-height: 100%;
			}
		}
		@media (max-width: $md4+px) {
			margin: 0 0 20px;
		}
	}
	.news__text {
		padding: 0 26px;
		position: relative;
	}
	&__date {
		position: absolute;
		top: 0;
		right: 26px;
		font-size: 14px;
		font-weight: 600;
		color: #979797;
	}
	&__link {
		font-size: 14px;
		font-weight: 400;
		color: #343434;
		text-decoration: underline;
		line-height: 100%;
	}
}

//=============================================================================================================================================================
.spollers-block {
	margin: 0px 0px 50px 0px;
	// .spollers-block__item
	&__item {
		margin: 0px 0px 20px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .spollers-block__title
	&__title {
		background-color: #794f45;
		cursor: pointer;
		padding: 20px 70px 20px 20px;
		position: relative;
		&::before {
			content: "";
			width: 20px;
			background-color: #fff;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(0, -50%) rotate(-45deg);
			position: absolute;
			right: 15px;
			top: 50%;
		}
		&::after {
			content: "";
			width: 20px;
			background-color: #fff;
			height: 2px;
			transition: transform 0.3s ease 0s;
			transform: translate(0, -50%) rotate(45deg);
			position: absolute;
			right: 29px;
			top: 50%;
		}
		&._active {
			&::before {
				transform: translate(0, -50%) rotate(45deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(-45deg);
			}
		}
	}
	// .spollers-block__body
	&__body {
		display: none;
		padding: 20px 0px 0px 0px;
	}
}

//========================================================================================================================================================

.form {
	margin: 0px 0px 50px 0px;
	// .form__line
	&__line {
		margin: 0px 0px 20px 0px;
	}
	// .form__label
	&__label {
		display: inline-block;
		margin: 0px 0px 15px 0px;
	}
}

//========================================================================================================================================================

.slider {
	margin: 0px 0px 50px 0px;
}

//=======================================================================================================================================================

.text {
	transform: translate(0px, 100px);
	opacity: 0;
	transition: all 0.3s ease 0s;
	margin: 0px 0px 50px 0px;
	a {
		color: red;
	}
	&._active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

//========================================================================================================================================================

.price {
	// .price__inputs
	&__inputs {
		display: flex;
		input {
			margin: 0px 10px 0px 0px;
		}
	}
}

//========================================================================================================================================================

.gallery-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -10px;
	// .gallery-block__item
	&__item {
		flex: 0 1 33.333%;
		margin: 0px 0px 20px 0px;
		padding: 0px 10px;
		img {
			max-width: 100%;
		}
	}
}

//=========================================================================================================================================================
